{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Ver conta a receber
            <div class="pull-right">
                <a href="{{ route('bill-receives.edit',{'id': bill.id}) }}"
                    class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar
                </a>
                <a href="{{ route('bill-receives.delete',{'id': bill.id}) }}"
                    class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remover
                </a>
            </div>
        </h3>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ bill.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Data Lanc.</th>
                        <td>{{ bill.date_launch | date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nome</th>
                        <td>{{ bill.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Valor</th>
                        <td>{{ bill.value | number_format(2, ',', '.') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}