<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Controle de finanças pessoais">
    <meta name="author" content="Valdinei Reis (http://valdineireis.com.br)">
    <link rel="icon" href="/assets/favicon.ico">

    <title>Minhas Finanças</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        {% if Auth.check() %}
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li><a>Olá {{ Auth.user().fullName }}</a></li>
                        <li><a href="{{ route('auth.logout') }}" title="Logout"><span class="glyphicon glyphicon-off"></span></a></li>
                    </ul>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="{{ route('category-costs.list') }}" title="Categoria de Custo"><span class="glyphicon glyphicon-flag"></span></a></li>
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-piggy-bank"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><li><a href="{{ route('bill-pays.list') }}">Contas a pagar</a></li></li>
                                <li><li><a href="{{ route('bill-receives.list') }}">Contas a receber</a></li></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="{{ route('statements.list') }}" title="Extrato"><span class="glyphicon glyphicon-usd"></span></a></li>
                        <li role="presentation"><a href="{{ route('charts.list') }}" title="Gráfico de Gastos"><span class="glyphicon glyphicon-stats"></span></a></li>
                        <li role="presentation"><a href="{{ route('users.list') }}" title="Usuários"><span class="glyphicon glyphicon-user"></span></a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Minhas Finanças</h3>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
        <br>
        <footer class="footer">
            <p>&copy; 2017 NoCodigo Group</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>