{% extends 'layout.html.twig' %}

{% block content %}
    <div class="white-box">
        <h3 class="box-title box-form">Extrato
            <div class="pull-right">
                <form class="form-inline text-center" method="get" action="{{ route('statements.list') }}">
                    <div class="form-group">
                        <!--<label class="control-label">Início</label>-->
                        <input type="text" class="form-control input-min" placeholder="DD/MM/YYYY" 
                            name="date_start" value="{{ dateStart|date('d/m/Y') }}">
                    </div>
                    <div class="form-group">
                        <span style="text-transform: lowercase">à</span>
                        <!--<label class="control-label">Fim</label>-->
                        <input type="text" class="form-control input-min" placeholder="DD/MM/YYYY" 
                            name="date_end" value="{{ dateEnd|date('d/m/Y') }}">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </h3>
        <div class="row sales-report">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h2>Totalizador</h2>
                <p>por período</p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                <p>
                    <strong>Recebidos</strong><br>
                    R$ {{ statements.total_receives|number_format(2, ',', '.') }}
                </p>
                <p>
                    <strong>Pagos</strong><br>
                    R$ {{ statements.total_pays|number_format(2, ',', '.') }}
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h1 class="text-right text-success m-t-20">R$ {{ (statements.total_receives - statements.total_pays)|number_format(2, ',', '.') }}</h1> 
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>DATA</th>
                        <th>DESCRIÇÃO</th>
                        <th class="text-center">CATEGORIA</th>
                        <th class="text-right">VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for statement in statements.statements %}
                        {% set isBillPay = statement.category_name is not null %}
                        <tr>
                            <td class="text-{{ isBillPay ? 'danger' : 'success' }}">
                                <span class="glyphicon glyphicon-{{ isBillPay ? 'minus' : 'plus' }}">
                            </td>
                            <td class="txt-oflo">{{ statement.date_launch|date('d/m/Y') }}</td>
                            <td class="txt-oflo">{{ statement.name }}</td>
                            <td class="text-center">
                                {% if isBillPay %}
                                    <span class="label label-info label-rouded">{{ statement.category_name }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <span class="text-{{ isBillPay ? 'danger' : 'success' }}">{{ isBillPay ? '-' : '' }}R$ {{ statement.value|number_format(2, ',', '.') }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
{% endblock %}