<form method="post" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Primeiro nome</label>
        <input type="text" class="form-control" placeholder="Primeiro nome" 
    		name="first_name" value="{{ user.first_name }}" autofocus required>
    </div>
    <div class="form-group">
        <label class="control-label">Último nome</label>
        <input type="text" class="form-control" placeholder="Último nome" 
    		name="last_name" value="{{ user.last_name }}" required>
    </div>
    <div class="form-group">
        <label class="control-label">E-mail</label>
        <input type="text" class="form-control" placeholder="E-mail" 
    		name="email" value="{{ user.email }}" required>
    </div>

    {% if user.id is null %}
    <div class="form-group">
        <label class="control-label">Senha</label>
        <input type="password" name="password" class="form-control" placeholder="Senha" required>
    </div>
	{% endif %}

    <button type="submit" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
        Salvar
    </button>
</form>